<h1>Camps</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Is Published</th>
    <th>Total Words</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% camps.forEach(function(camps){ %>
  <tr>
    <td>
      <a href="/camps/detail?id=<%= camps._id %>">
      <%= camps.title %>
      </a>
    </td>
    <td><%= camps.content %></td>
    <td><%= camps.isPublished %></td>
    <td><%= camps.totalWords %></td>
    <td><%= dayjs(camps.createdAt).fromNow(true) %> ago </td>
    <td><%= dayjs(camps.updatedAt).fromNow(true) %> ago </td>
    <td>
      <a href="/camps/edit?id=<%= camps._id %>">
        Edit
      </a>
    </td>
    <td>
    <a href="/camps/delete?id=<%= camps._id %>">delete</a>
    </td>
  </tr>
<% }) %>
</table>